{% load static %}
{% block camara %}

<body>
    <div class="div_centrado fondo_deg">
        <div id="cont_webcam" class="div_centrado">
            <div class="borde">
                <video id="video" playsinline autoplay></video>
            </div>
            <canvas id="canvas" width="100px" height="10px"></canvas>
        </div>
    <div id="mensaje" class="">
      </div>
    </div>
</body>

<link rel="stylesheet" href="ejemplo.css"
<script src"jquery-2.1.3.js"></script>
<script>
    'use strict';
    document.getElementById('canvas').style.display='none';
    const video=document.getElementById('video');
    const canvas=document.getElementById('canvas');

    const constrains={
        audio:false,
        video:{
            width:1100, height:480

        }
    };
    async function init(){
        try{
          const stream=await
          navigator.mediaDevices.getUserMedia(constraints);
          handleSuccess(stream);
        } catch(e){
            $("#mensaje").html("seleccione disp");
        }
    }
    function handleSuccess(stream){
        window.stream=stream;
        video.srcObject=stream;
    }
    init()
    var contex=canvas.getContext('2d');
</script>






    


{% endblock %}